DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.mysql
DB_NAME=summerlin
DB_USER=root
DB_PASSWORD=P@ssw0rd
DB_HOST=127.0.0.1
DB_PORT=3306
