<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>会員ログイン</title>
    </head>
    <body>
        <h2>ログインしてください。</h2>

        <form action="{% url 'ec_system:login' %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div>
                {{ form.user_id.label_tag }}
                {{ form.user_id }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">ログイン</button>
        </form>
    </body>
</html>