{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>会員ログイン</title>
        <link rel="stylesheet" href="{% static 'ec_system/css/login.css' %}">
    </head>
    <body>
        <h2>ログインしてください。</h2>

        <form action="{% url 'ec_system:login' %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <table border="1">
                <tr>
                    <th>{{ form.user_id.label_tag }}</th>
                    <td>{{ form.user_id }}</td>
                </tr>
                <tr>
                    <th>{{ form.password.label_tag }}</th>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><input type="submit" value="ログイン"></td>
                </tr>
            </table>
        </form>
        <br>
        <a href="{% url 'ec_system:register_user' %}">会員登録</a>
    </body>
</html>