<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>商品検索</title>
    </head>
    <body>
        <h2>商品の検索を行います。</h2>

        <form action="{% url 'ec_system:search_result' %}" method="POST">
            {% csrf_token %}
            <label>カテゴリ:</label>
            <select name="category" id="category-select">
            <option value="all">すべて</option>
            <option value="帽子">帽子</option>
            <option value="鞄">鞄</option>
            </select>

            <label>キーワード:</label>
            <input type="text" name="keyword" size="15" />
            <input type="submit" value="検索"/>
        </form><br>

        {% if login_user %}
        <a href="{% url 'ec_system:cart' %}">ショッピングカートを見る</a><br><br>
        {% else %}
        <a href="{% url 'ec_system:login' %}">ショッピングカートを見る</a><br><br>
        {% endif %}
        

        {% if login_user %}
        <hr>
        <p>ようこそ {{ login_user.name }} さん</p>
            <a href="{% url 'ec_system:user_info' %}">会員情報の確認</a><br>
            <a href="{% url 'ec_system:update_user' %}">会員情報の変更</a><br>
            <a href="{% url 'ec_system:logout' %}">ログアウト</a><br>
        {% else %}
        <a href="{% url 'ec_system:login' %}">ログイン</a>
        {% endif %}
    </body>
</html>