<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>会員登録</title>
    </head>
    <body>
        <h2>会員情報を登録してください</h2>
        <form action="{% url 'ec_system:register_user' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div>{{ form.non_field_errors.0 }}</div>
            {% endif %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div>{{ field.errors.0 }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">登録確認</button>
        </form><br>
        <a href="{% url 'ec_system:index' %}">商品検索へ</a>
    </body>
</html>