<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>検索結果</title>
    </head>
    <body>
        <h2>キーワード "{{ keyword }}" カテゴリ "{{ category }}"の検索結果</h2>
        <table border="1">
            <tr>
                <th>商品名</th>
                <th>色</th>
                <th>メーカー</th>
                <th>価格</th>
            </tr>
            {% for i in item %}
            <tr>
                <td><a href="{% url 'ec_system:item_detail' i.item_id %}">{{ i.name }}</a></td>
                <td>{{ i.color }}</td>
                <td>{{ i.manufacturer }}</td>
                <td>{{ i.price }}円</td>
            </tr>
            {% empty %}
            <tr><td colspan="7">該当する商品がありません</td></tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'ec_system:index' %}">商品検索へ</a>
    </body>
</html>