<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>会員情報</title>
    </head>
    <body>
        <h2>会員情報</h2>

    <form action="{% url 'ec_system:update_user' %}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div>{{ form.non_field_errors.0 }}</div>
        {% endif %}
        <div>
            <label>会員ID:</label>{{ login_user.user_id }}
        </div>
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div>{{ field.errors.0 }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">変更</button>
    </form>
    <br>
    <a href="{% url 'ec_system:withdraw_confirm' %}">退会する</a><br>
    <a href="{% url 'ec_system:index' %}">商品検索へ</a>
    </body>
</html>